{% extends 'base.html'%}

{% block content %}

{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action='/add_post' method="post">
    <label for="title">Заголовок:</label><br>
    <input type="text" id="title" name="title" required><br>
    <label for="content">Содержание:</label><br>
    <textarea id="content" name="content" rows="4" cols="50" required></textarea><br>
    <button type="submit">Добавить статью</button>
</form>

{% endblock %}