{% extends 'generator/base.html' %}
{% block content %}

<div>
    <header>
     <h2>О генераторе паролей</h2>
  </header>

  <main>
    <section class="description-container">
      <p>
        Этот генератор паролей позволяет вам создавать надежные и уникальные пароли для ваших учетных записей.
        Вы можете выбрать желаемую длину пароля, а также включить в него заглавные буквы, цифры и специальные символы.
      </p>
      <p>
        Использование надежных паролей для каждой учетной записи важно для обеспечения безопасности ваших данных.
        Не используйте один и тот же пароль для разных сайтов и регулярно меняйте свои пароли.
      </p>
    </section>
  </main>

  <footer>
    <p><p><a href="{% url 'home' %}">Вернуться на главную</a></p></p>
  </footer>
</div>
{% endblock %}